<nav class="navbar navbar-expand-lg navbar-light bg-light pad-tb-0">
  <div class="container-fluid">

<a routerLink="/" class="navbar-brand" style="cursor: pointer;">food<b>O</b>rama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="recipes" class="nav-link">
            Recipes <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="shopping-list" class="nav-link">
            Shopping List
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <ng-template [ngIf]="authService.isAuthenticated()">
            <li class="nav-item" ngbDropdown>
              <button class="nav-link btn toggle-alt pad-tb-15" ngbDropdownToggle>
                <i class="fas fa-database"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem><span (click)="onSaveRecipes()">Save Data</span></button>
                <button ngbDropdownItem (click)="onGetRecipes()">Fetch Data</button>
              </div>
            </li>
          </ng-template>
          <li class="nav-item" ngbDropdown>
            <button class="nav-link btn toggle-alt pad-tb-15" ngbDropdownToggle>
              <span *ngIf="!authService.isAuthenticated()">
                <i class="fas fa-user-lock"></i>
              </span>
              <span *ngIf="authService.isAuthenticated()">
                <i class="fas fa-user-cog"></i>
              </span>
            </button>
            <div ngbDropdownMenu>

              <ng-template [ngIf]="!authService.isAuthenticated()">
                <button ngbDropdownItem>
                  <app-auth-modal modalName="signup"></app-auth-modal>
                </button>
                <button ngbDropdownItem>
                  <app-auth-modal modalName="signin"></app-auth-modal>
                </button>
              </ng-template>

              <ng-template [ngIf]="authService.isAuthenticated()">
                <button ngbDropdownItem (click)="onLogout()">
                  <span>Logout</span>
                </button>
              </ng-template>
            </div>
          </li>

      </ul>
    </div>
  </div>

  </nav>