<div class="col">
  <div class="row">
    <div class="col">
      <div class="card">
          <img class="card-img-top img-fluid" [src]="recipe.imagePath" alt="{{ recipe.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description}}</p>
            <div class="btn-group float-right">
                <button class="btn nav-link dropdown-toggle" appDropdown>
                  <i class="fas fa-edit"></i>&nbsp;
                  Manage Recepie
                </button>
                <div class="dropdown-menu">
                  <li class="dropdown-item" href="#">Add</li>
                  <li class="dropdown-item" href="#">Edit</li>
                  <li class="dropdown-item" href="#">Delete</li>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
