<div class="col">
  <div class="row">
    <div class="col">
      <div class="card">
          <img class="card-img-top img-fluid" [src]="recipe.imagePath" alt="{{ recipe.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description}}</p>
            <div class="btn-group float-right">
              <button class="btn btn-outline-success">
                Add
              </button>
              <button class="btn btn-outline-primary">
                Edit
              </button>
              <button class="btn btn-outline-danger">
                Delete
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
