<app-header></app-header>
<div class="main-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="row">
          <div class="col-12">
            <h2>Recipe</h2>
          </div>
        </div>

        <app-recipes class="row"></app-recipes>

        <div class="row">
          <div class="col-12">
            <h2>Shopping List</h2>
          </div>
        </div>

        <app-shopping-list class="row justify-content-around mt-5"></app-shopping-list>

      </div>
    </div>
  </div>
</div>