.btn-link{
    color: #333;
    border: 0px;
    margin: 0px 5px;
}

.btn{
    &:focus, &:active, &:active:focus {
        box-shadow: none;
        outline: none;
    }
}

.dropdown-menu{
    right: 0;
    left: auto;
}